<div class="dashboard-container">
  <div class="waves"></div>
  <app-bubbles></app-bubbles>
  <div class="glass-card slide-in-left" style="text-align:center;">
    <h1 class="dashboard-title">
      Welcome to your Dashboard!
      <ng-container *ngIf="name$ | async as name"> <span>- {{ name }}</span></ng-container>
    </h1>
    <button mat-raised-button color="primary" [routerLink]="['/students']" class="button-hover pulse">Go to Students List</button>
  </div>
  <footer class="dashboard-footer">
    Created by Nirmal Koswatta undergraduate student @ SLIIT
  </footer>
</div>
