<div class="login-container">
  <div class="waves"></div>
  <app-bubbles></app-bubbles>
  <mat-card class="glass-card slide-in-left">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="button-hover pulse">Login</button>
      </form>
      <div class="register-link">
        Not registered? <a routerLink="/register">Click here</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
